streamlit

langchain==0.2.1
langchain-community==0.2.1
langchain-core==0.2.1
langchain-text-splitters==0.2.1

langchain-openai
langchain-chroma
langchain-groq
langchain-huggingface

openai
tiktoken
sentence-transformers
tokenizers>=0.15.0
easyocr

faiss-cpu
pypdf
tavily-python

python-dotenv
pytesseract
Pillow

numpy<2
